{% include 'movie_app/base.html' %}

{% block Title %} Информация об Актёре - {{ actor.first_name }} {{ actor.last_name }} {% endblock %}


{% block content %}
    <h2> Информация об Актёре - {{ actor.first_name }} {{ actor.last_name }} </h2>
    <h3> Имя - {{ actor.first_name }}</h3>
    <h3> Фамилия - {{ actor.last_name }}</h3>
    <h3> Пол - {{ actor.gender }}</h3>
    <hr>
    <h3>Все фильмы - {{ actor }} </h3>
         <ul>
        {% for movie in actor.movie_set.all%}
            <li>{{ movie.name }}</li>
            {% endfor %}
    </ul>
{% endblock %}